@page
@model Shop.UI.Pages.Checkout.CustomerInformationModel
@{
}
<div class="columns">
    <div class="column is-6">
        <form method="post">
            <div class="field">
                <div class="control">
                    <label class="label">First Name</label>
                    <input class="input" asp-for="CustomerInformation.FirstName"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.FirstName"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Last Name</label>
                    <input class="input" asp-for="CustomerInformation.LastName"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.LastName"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Phone Number</label>
                    <input class="input" asp-for="CustomerInformation.PhoneNumber"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.PhoneNumber"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Email</label>
                    <input class="input" asp-for="CustomerInformation.Email"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.Email"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Address 1</label>
                    <input class="input" asp-for="CustomerInformation.Address"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.Address"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Address 2</label>
                    <input class="input" asp-for="CustomerInformation.Address2"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.Address2"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">City</label>
                    <input class="input" asp-for="CustomerInformation.City"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.City"></span>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">Post Code</label>
                    <input class="input" asp-for="CustomerInformation.PostCode"/>
                </div>
                <span class="help is-warning" asp-validation-for="CustomerInformation.PostCode"></span>
            </div>
            <div class="field">
                <button class="button is-success" type="submit">Send</button>
            </div>
        </form>
    </div>
    <div class="column is-6">
        <vc:cart></vc:cart>
    </div>
</div>
