@page
@model Shop.UI.Pages.Checkout.PaymentModel
@{
}

<div class="columns">
    <div class="column is-6">
        <p class="title">Payment</p>
        <form id="payment-form" data-secret="@Model.ClientSecret">
            <div class="field">
                <div id="payment-element">
                </div>
            </div>
            <div class="field has-text-right">
                <button id="submit" class="button is-success">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                </button>
            </div>
            <div id="payment-message" class="hidden"></div>
        </form>
    </div>
    <div class="column is-6">
        <vc:cart></vc:cart>
    </div>
</div>

@section scripts{
<script src="https://js.stripe.com/v3/"></script>
<script src="~/js/checkout.js" defer></script>
}