<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
    <link rel="stylesheet" href="~/Shop.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                    <p class="menu-label">Admin Menu</p>
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/Index">Products</a></li>
                        <li><a asp-page="/Admin/Orders">Orders</a></li>
                        <li><a asp-page="/Admin/Stock">Stock</a></li>
                    </ul>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Back to main</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-9">
                @RenderBody()
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>
</html>