@page
@using System.Diagnostics.Eventing.Reader
@model IndexModel
@{

}

<section>
    <div class="columns is-multiline is-mobile">
        @{
            foreach (var product in Model.Products)
            {
                <div class="column is-3-desktop is-4-tablet is-5-mobile">
                    <a asp-page="Product" asp-route-name="@product.Name.Replace(' ', '-')">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="images/dogsWeb.jpg" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-size-5">
                                    @product.Name - @product.Value
                                </p>
                                <p class="subtitle">
                                    @product.Description
                                </p>
                                @{
                                    string cssClass = string.Empty;
                                    string message = string.Empty;
                                    if (product.StockCount == 0)
                                    {
                                        cssClass = "is-danger";
                                        message = "Out of stock";

                                    }
                                    else if (product.StockCount <= 10)
                                    {
                                        cssClass = "is-warning";
                                        message = "Low on Stock";
                                    }
                                }

                                <div class="notification @cssClass is-paddingless has-text-centered">
                                    @message
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</section>
